.NavLogo {
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(1vw + 1em);
    padding-top: calc(0vh + 1em);
    color: white;
    z-index: 1000; 
  }
  
  @media (max-width: 992px) { 
    .NavLogo {
      font-size: calc(2vw + 1em); 
      padding-top: calc(1.5vh + 0.5em); 
    }
  }
  
  @media (max-width: 768px) { 
    .NavLogo {
      font-size: calc(1vw + 1em); 
      padding-top: calc(2vh + 0.5em); 
    }
  }
  
  .education-experience-container {
    padding-top: 60px;
  }
  
  .container {
    padding: 2% 5%;
  }
  
  .section-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    text-align: left;
  }
  
  .card {
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, opacity 0.3s;
    transform: translateX(100px);
    opacity: 0;
  }
  
  .card.slide-in {
    transform: translateX(0);
    opacity: 1;
  }
  
  .card-body {
    padding: 1rem;
  }
  
  .card-title {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .card-subtitle {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  @media (max-width: 992px) {
    .card {
      flex-direction: column;
      text-align: center;
    }
  
    .card .row {
      flex-direction: column;
    }
  
    .card img {
      width: 100%;
      height: auto;
    }
  
    .card-body {
      padding: 1rem;
    }
  }
  
  @media (max-width: 768px) {
    .section-title {
      font-size: 1.5rem;
    }
  
    .card-title {
      font-size: 1.2rem;
    }
  
    .card-subtitle {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 576px) {
    .section-title {
      font-size: 1.2rem;
    }
  
    .card-title {
      font-size: 1rem;
    }
  
    .card-subtitle {
      font-size: 0.9rem;
    }
  }
