.experience-container {
  padding: 20px;
}

.experience-title {
  text-align: center;
  margin-bottom: 20px;
}

.experience-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.maincontainer {
  perspective: 1000px;
  width: 60vw; /* Increased width */
  height: 50vh;
  max-width: 700px; /* Increased max-width */
  max-height: 500px;
  display: flex; /* Added flex display */
  justify-content: center; /* Centered the content */
  align-items: center; /* Centered the content */
}

.thecard {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.thecard:hover {
  transform: rotateY(180deg);
}

.thefront, .theback {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.thefront {
  background-size: contain; /* Ensure the whole image is visible */
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgb(255, 255, 255);
}

.theback {
  background: #f8f8f8;
  transform: rotateY(180deg);
}




@media (max-width: 768px) {
  .experience-content {
    flex-direction: column;
    align-items: center;
  }

  .maincontainer {
    width: 80vw;
    height: 50vh;
  }
}

@media (max-width: 480px) {
  .maincontainer {
    width: 90vw;
    height: 40vh;
  }
}
