.logocontainer {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    /* border: 1px solid red; */
}

.logocontaine {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    border: 1px solid red;
    /* background-image:   radial-gradient(circle, rgba(1, 1, 1, 1) 0%, rgba(0, 0, 0, 0) 190%), 
                        url('../images/image.png'); */
    background-size: cover; /* Cover the entire navbar area */
    background-position: right center; /* Align image to the right and center vertically */
    background-repeat: no-repeat;
}

.logo {
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(1vw + 1em); /* Adjust font size dynamically */
    padding-top: calc(0vh + 1em); /* Adjust padding dynamically */
    color: white;
    z-index: 1000; 
}

@media (max-width: 992px) { /* Medium screens */
    .logo {
        font-size: calc(2vw + 1em); /* Adjust font size for medium screens */
        padding-top: calc(1.5vh + 0.5em); /* Adjust padding for medium screens */
    }
}

@media (max-width: 768px) { /* Small screens */
    .logo {
        font-size: calc(1vw + 1em); /* Adjust font size for small screens */
        padding-top: calc(2vh + 0.5em); /* Adjust padding for small screens */
    }
}
