.logocontainer {
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-color: #000000; /* Fallback color */
    background-image: url("../images/logo/sketch.png"); /* Background image */
    background-size: cover; /* Scales the image to cover the container */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: scroll; /* Allows the background image to scroll with the page */
}

/* Optional: Further adjustments for specific screen sizes */
@media (max-width: 768px) { /* For screens smaller than 768px */
    .logocontainer {
        background-size: cover; /* Ensures the image covers the container */
        background-position: center center; /* Centers the image */
    }
}

@media (min-width: 1200px) { /* For larger screens (e.g., desktop monitors) */
    .logocontainer {
        background-size: cover; /* Ensures the image covers the container */
        background-position: center center; /* Centers the image */
    }
}
.logo {
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(1vw + 1em);
    padding-top: calc(0vh + 1em);
    color: white;
    z-index: 1000; 
    padding-left: 1%;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9); /* Enhanced shadow for better visibility */
}

@media (max-width: 992px) { 
    .logo {
        font-size: calc(2vw + 1em); 
        padding-top: calc(1.5vh + 0.5em); 
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9); /* Consistent shadow on smaller screens */
    }
}

@media (max-width: 768px) { 
    .logo {
        font-size: calc(1vw + 1em); 
        padding-top: calc(2vh + 0.5em); 
        text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.9); /* Consistent shadow on smaller screens */
    }
}
