
.logocontainer {
    width: 100%;
    height: 100vh; /* Full viewport height */
    background-image: url("../images/logo/vizag2.png"); /* Background image */
    background-size: cover; /* Scales the image to cover the container */
    background-position: center; /* Center the image for smaller screens */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: scroll; /* Allows the background image to scroll with the page */
    overflow: hidden; /* Ensures that any overflow is hidden */
}

/* Optional: Further adjustments for specific screen sizes */
@media (max-width: 768px) { /* For screens smaller than 768px */
    .logocontainer {
        background-position: center; /* Center the image for better focus on smaller screens */
        background-size: cover;
    }
}

@media (min-width: 1200px) { /* For larger screens (e.g., desktop monitors) */
    .logocontainer {
        background-position: right center; /* Align the image towards the right side */
        background-size: cover;
    }
}

.logo {
    position: fixed; 
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    font-size: calc(1vw + 1em);
    padding-top: calc(0vh + 1em);
    color: white;
    z-index: 1000; 
    padding-left: 1%;
    line-height: 1.2; /* Ensures consistent line height */
    text-shadow:
        1px 1px 2px black,
        0 0 1em black,
        0 0 0.2em black; 
}

@media (max-width: 992px) { 
    .logo {
        font-size: calc(2vw + 1em); 
        padding-top: calc(1.5vh + 0.5em); 
    }
}

@media (max-width: 768px) { 
    .logo {
        font-size: calc(1.5vw + 1em); /* Adjust font size for better visibility on smaller screens */
        padding-top: calc(2vh + 0.5em); 
    }
}
