.scroller {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  max-width: 80%;
  margin: 0 auto;
}

.aboutcontent {
  width: 100%;
  background-color: #ffffff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.scroller__inner {
  padding: 1rem; /* Adjust padding as needed */
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent
  );
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s)
    var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

/* general styles */


/* Add this to your Projects.css */

.card {
  width: 35rem;
  height: 30rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-img-container {
  width: 100%;
  height: 70%; /* Adjust this percentage as needed to fit your design */
}

.card-img-top {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.bigbutton{
 width: 15%;
 box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
 background-color: black !important;
}